
@{
    ViewBag.Title = "Bloqueo";
}

<h2>Cuenta Bloqueada</h2>
<hr />

<h4>Por motivos de seguridad su cuenta ha sido temporalmente <strong>bloqueada</strong></h4>
<br />
<center><a href="Login"><img src="~/Content/Images/padlock.png" class="text-center" alt="User" /></a></center>
<h4>
    Lamentablemente parece que has superado el número de intentos de ingreso permitidos.
</h4>
<h4>
    Hemos enviado un mensaje al correo electrónico de la cuenta con instrucciones para desbloquearla.
</h4>





