
@{
    ViewBag.Title = "Forgot Password";
}

<h2>Reestablecer Contraseña</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.Message
        </div>
        <h4>Digite su Correo Electronico.</h4>
        <h4>A este le serán enviadas las intrucciones <br />para cambiar su contraseña.</h4>
        <br />
        <center>
            <div class="form-group">
                <div class="col-md-12">
                    @*<label class="control-label col-md-2">Correo Electrónico</label>*@
                    @Html.TextBox("Email", "", new { @class = "form-control", @placeholder="Correo Electrónico" })
                </div> 
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                </div>
            </div>
        </center>
    </div>
}